.demo-card-wide.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    %h2.mdl-card__title-text About
  .mdl-card__supporting-text
    Electronic Tsar is an application that will help you organize data lika a boss. Easy and free to use – this is what makes Electronic Tsar the best TODO manager.
