%h1 Ошибка!
%h2 В чём суть?
%p Данным тегом не обладает ни одна статья в этом блоге. Скорее всего, вы где-то ошиблись в URL, либо перешли по неверной ссылке.
%h2 Что делать?
%p
  Можно посетить
  %a(href="/l/tags") страницу
  со списком всех тегов или
  %a(href="/l/articles") страницу
  со списком всех статей. Также можно просто вернуться на
  %a(href="/") главную
